---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero image={{ src: import('~/assets/images/home_image.png'), alt: 'Welcome to TheZal blog' }}>
    <Fragment slot="title">Hello There!</Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Welcome to <span class="font-semibold">TheZal.Dev</span> blog! Here is where I write anything that I find useful!</span
      >
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- HighlightedPosts Widget ******* -->

  <LatestPosts
    title="The latest articles!"
    information={`
		`}
    postIds={[]}
  />
</Layout>
